<div class="mt-5">
    <div class="container-fluid text-secondary">
        <div class="row">
            <div class="col-12 col-md-3">
                <div
                    class="container d-flex flex-column align-items-baseline">
                    <div class="d-flex fs-3 my-2">
                        <i class="bi bi-facebook pe-3"></i>
                        <i class="bi bi-instagram pe-3"></i>
                        <i class="bi bi-twitter pe-3"></i>
                        <i class="bi bi-youtube pe-3"></i>
                    </div>
                    <a
                        href="javascript:void(0)"
                        class="link link-secondary link-underline-opacity-0 my-2"
                        >Audio e Sottotitoli</a
                    >
                    <a
                        href="javascript:void(0)"
                        class="link link-secondary link-underline-opacity-0 my-2"
                        >Centro Media</a
                    >
                    <a
                        href="javascript:void(0)"
                        class="link link-secondary link-underline-opacity-0 my-2"
                        >Privacy</a
                    >
                    <a
                        href="javascript:void(0)"
                        class="link link-secondary link-underline-opacity-0 my-2"
                        >Contattaci</a
                    >
                    <button
                        type="button"
                        class="btn btn-outline-secondary rounded-0 my-2">
                        Codice Servizio
                    </button>
                    <span class="my-2"
                        >&copy; 1997-2021 Netflix Inc</span
                    >
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div
                    class="container d-flex flex-column align-items-baseline">
                    <a
                        href="javascript:void(0)"
                        class="link link-secondary link-underline-opacity-0 my-2"
                        >Descrizione Audio</a
                    >
                    <a
                        href="javascript:void(0)"
                        class="link link-secondary link-underline-opacity-0 my-2"
                        >Relazioni con investitori</a
                    >
                    <a
                        href="javascript:void(0)"
                        class="link link-secondary link-underline-opacity-0 my-2"
                        >Note Legali</a
                    >
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div
                    class="container d-flex flex-column align-items-baseline">
                    <a
                        href="javascript:void(0)"
                        class="link link-secondary link-underline-opacity-0 my-2"
                        >Centro Assistenza</a
                    >
                    <a
                        href="javascript:void(0)"
                        class="link link-secondary link-underline-opacity-0 my-2"
                        >Lavori</a
                    >
                    <a
                        href="javascript:void(0)"
                        class="link link-secondary link-underline-opacity-0 my-2"
                        >Preferenze Cookie</a
                    >
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div
                    class="container d-flex flex-column align-items-baseline">
                    <a
                        href="javascript:void(0)"
                        class="link link-secondary link-underline-opacity-0 my-2"
                        >Gift Cards</a
                    >
                    <a
                        href="javascript:void(0)"
                        class="link link-secondary link-underline-opacity-0 my-2"
                        >Termini di Utilizzo</a
                    >
                    <a
                        href="javascript:void(0)"
                        class="link link-secondary link-underline-opacity-0 my-2"
                        >Informazioni aziendali</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>