<div class="container">
    <form (ngSubmit)="openVerticallyCentered(content)" #todoForm="ngForm">
        <div class="mb-3 form-group">
            <label for="todo" class="form-label">Message of Todo</label>
            <input
                type="text"
                class="form-control"
                id="todo"
                [(ngModel)]="todo.todo"
                name="todo"
                required
                #todoM="ngModel"
            />
            <div
                [hidden]="todoM.valid || todoM.pristine"
                class="alert alert-danger"
            >
                Message is required
            </div>
        </div>
        <div class="mb-3 form-group">
            <label for="user" class="form-label">User</label>
            <select class="form-control" id="user" required [(ngModel)]="todo.userId" name="user" #userM="ngModel">
                <option selected></option>
                <option *ngFor="let user of users" [value]="user.id">{{user.firstName}} {{user.lastName}}</option>
            </select>
            <div
                [hidden]="userM.valid || userM.pristine"
                class="alert alert-danger"
            >
                User Option is required
            </div>
        </div>
        <button
            type="submit"
            class="btn btn-success"
            [disabled]="!todoForm.form.valid"
        >
            Submit
        </button>
    </form>
</div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Detail</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <p><b>Message</b>: {{todo.todo}}</p>
        <p><b>Full Name</b>: {{getFullName(todo.userId)}}</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Abort</button>
		<button type="button" class="btn btn-success" (click)="modal.close('Close submit');onSubmit();changeSuccessMessage();todoForm.reset();">Confirm</button>
	</div>
</ng-template>

<ngb-alert *ngIf="successMessage" #selfClosingAlert class="position-absolute w-50 top-0 translate-middle-x start-50" type="success" (closed)="successMessage = ''">{{ successMessage }}</ngb-alert>