<div class="container border border-1 rounded-2 h-100">
    <h2>Carrello</h2>
    <hr>
    <div class="container-fluid" *ngIf="cart">
        <div class="row border border-1 my-2" *ngFor="let product of cart.products">
            <ng-container *ngIf="product">
                <div class="col-3">
                    <img [src]="product.thumbnail" [alt]="product.title" width="30px" />
                </div>
                <div class="col-5">
                    <p>{{product.title}}</p>
                </div>
                <div class="col-1">
                    <p>x{{product.quantity}}</p>
                </div>
                <div class="col-2">
                    <p><strong>{{product.price}}€</strong></p>
                </div>
            </ng-container>
        </div>
    </div>
</div>