<nav>
    <h1>Hey Boss, what's my task for the day?</h1>
    <div class="d-flex mb-4">
        <a routerLink="/" class="btn btn-primary me-2">Home</a>
        <a routerLink="/done" class="btn btn-primary me-2">Completed</a>
        <a routerLink="/notdone" class="btn btn-primary me-2">Not Completed</a>
        <a routerLink="/users" class="btn btn-primary me-2">By User</a>
        <a routerLink="/create-user" class="btn btn-primary me-2">Create User</a>
        <a routerLink="/create-todo" class="btn btn-primary me-2">Create Todo</a>
    </div>
</nav>