<div class="container">
    <div class="row p-3 justify-content-center">
        <ng-container *ngFor="let todo of todos">
            <div *ngIf="!todo.completed" class="col-5 p-3 m-2 rounded-2 " [ngClass]="todo.completed ? 'bg-success' : 'bg-danger'">
                <div class="row">
                    <div class="col-1 d-flex align-items-center justify-content-center">
                        <a (click)="toggleIcon(todo.key, !todo.completed)" *ngIf="todo.completed; else altraIcona">
                            <i class="bi bi-check-square-fill"></i>
                        </a>
                        <ng-template #altraIcona>
                            <a (click)="toggleIcon(todo.key, !todo.completed)">
                                <i class="bi bi-square"></i>
                            </a>
                        </ng-template>
                    </div>
                    <div class="col-11">
                        <h5>{{todo.todo}}</h5>
                        <p>Assigned to: {{getUserName(todo.userId)}}</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>