<div class="position-absolute top-50 start-50 translate-middle w-25 bg-dark rounded-1">
    <form class="p-4" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required ngModel />
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required ngModel />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required ngModel />
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-danger">Registrati</button>
        </div>
    </form>
</div>