@import 'partials/colori';
@import 'partials/header';
@import 'partials/titoli';
@import 'mixins/mixins';

p {
    @include colorePrimario;
    font-size: 2.5rem !important;
    span {
        font-weight: bold;
        color: $testataHover;
    }
}

.paragrafo2 {
    color: map-get($map: $setColori, $key: blu);
}