<div class="container">
    <ng-container *ngFor="let mixed of mix">
        <div class="row mb-5">
            <div class="col-5 h-100 d-flex justify-content-center align-items-center">
                <img [src]="mixed.image" [alt]="mixed.firstName + ' ' + mixed.lastName" class="img-fluid rounded-circle border border-1"/>
            </div>
            <div class="col-5">
                <div class="container">
                    <h3>{{mixed.firstName}} {{mixed.lastName}}</h3>
                    <p>{{mixed.title}}</p>
                    <ng-container *ngIf="mixed.todos.length > 0; else noRisultati">
                        <ng-container *ngFor="let todo of mixed.todos">
                            <app-card [todo]="todo" [userName]="getUserName(todo.userId)"></app-card>
                        </ng-container>
                    </ng-container>
                    <ng-template #noRisultati>
                        <div class="row p-3 my-2">
                            <p>No result found</p>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-container>
</div>