body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #393d41;
    font-size: 1.5rem;
    line-height: 1.65;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, .pulsante {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    color: #25a2c3;
    line-height: 1.0;
}

/* HEADER */

header {
    background-color: black;
}

header img {
    width: 40%;
    padding: 8vw;
}

/* MAIN */

#titolo {
    padding: 8vw;
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-size: cover;
    margin-bottom: 5vh;
}

.pulsante {
    background-color: #f04c2f;
    width: fit-content;
    padding: 2vw 6vw;
    margin: 0 auto;
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
}

#contenuto {
    padding: 0 10vw;
    margin-bottom: 7vh;
}

#contenuto h4 {
    margin-bottom: 0;
}

#contenuto img {
    border-radius: 50%;
    width: 90%;
}

#testimonianze {
    background-color: #e22d0e;
    padding: 5vw;
    margin-top: 2vh;
}

#testimonianze, #titolo_testimonianze {
    color: white;
}

#testimonianze figure {
    margin-left: 0;
    margin-right: 0;
}

#testimonianze cite {
    font-size: 1.3rem;
    line-height: 0.7;
}

#societa {
    display: block;
    font-size: 1.2rem;
}

/* ASIDE */

#schede {
    margin: 7vh 0;
}

.scheda {
    border: 1px solid #dee1e3;
    margin: 4vh 5vw;
    font-size: 1.4rem;
    padding-bottom: 2vw;
}

.scheda img {
    width: 100%;
}

.scheda p {
    margin: 15px;
    margin-bottom: 3vh;
}

/* FOOTER */

footer {
    clear: both;
    color: #c8e7f0;
    background-color: #25a2c3;
    margin: 0;
    height: max-content;
    padding: 7vw;
}

footer .headFooter {
    color: white;
}

footer address {
    font-style: normal;
    font-size: 1.3rem;
}

footer a:visited, footer a:link {
    color: #c8e710;
}

footer #copyright {
    margin: 3vh auto 0 auto;
    padding: 3vh 0;
    border-top: 1px solid white;
    font-size: 1.1rem;
    width: max-content;
}